/*

  Variables
  +

*/


//Colours

//Black
$black: #000;
$dark-black: #222;
$dark-grey: #333;
$medium-grey: #767676;
$light-grey: #ddd;
$lighter-grey: #f9f9f9;

//White
$white: #fff;
$off-white: #f4f4f4;

// Orange
$dark-orange: #aa815a;


// Yellow
$soft-yellow: #fff6bf;

// Red
$soft-red: #fbe3e4;

// Blue
$medium-blue: #5a83aa;
$soft-blue: #e5edf8;

// Green
$soft-green: #e6efc2;

// Theme Colours
$primary-color: $dark-orange;
$secondary-color:$dark-black;
$tertiary-color: $medium-blue;
$base-line-height: 1.7;

//Google font
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

//Typekit font

//Fonts
$font-stack: Helvetica, sans-serif;
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

//Text Transform
$text-cap: capitalize; 
$text-lower: lowercase;
$text-upper: uppercase;
$text-none: none;