/*

  WordPres default, this is can be overriden, just think of these as a reset file, but this file also includes normalize.css
  +

*/

 /**
  * General
  */
 
 img {
   max-width: 100% !important;
   height: auto;
   vertical-align: middle;
 }
 
 
 /**
  * WP Customisation
  */
 
 
 /* If WP-Adminbar is visible */
 body.admin-bar {
   
   #header.fixed-top {
     top: 32px;
   }
   
   .edit-link a {
     color: #FFF !important;
     font-weight: normal !important;
     text-decoration: none !important;
     
     &::before {
       content: '\270E';
       display: inline-block;
       margin-right: 5px;
     }
     
   }
 }
 
 /* WordPress Embeds */
 
 .post-thumbnail,
 .wp-video,
 .embed-responsive {
   margin: 5px 0;
   width: 100% !important;
 }
 
 
 /* Header */
 
 .navbar-brand {
   
   img {
     height: 40px;
   }
   
 }
 
 .navbar-static-top {
   margin-bottom: $grid-gutter-width;
 }
 
 
 /* Main */
 
 #main {
   margin-top: $spacer;
 }
 
 
 /* Footer */
 
 #footer {
   background-color: #FFF;
 
   p {
     margin-top: 10px;
   }
 
   .menu-item {
     &.active,
     &.current-menu-item,
     &.current_page_item {
       a {
         color: $link-hover-color;
       }
     }
   }
   
 }
 
 
 /* Sidebar */
 
 .widget-area {
   
   ul {
     list-style: none;
     padding: 0;
   }
   
 }
 
 
 /* Author */
 
 .author-avatar {
   
   .avatar {
     width: 64px;
     height: auto;
   }
 }
 
 .author-info {
   margin: 40px 0;
 
   h2, h3 {
     margin-top: 0;
   }
   
 }
 
 
 /* Posts */
 
 .sticky {
   .card {
     background-color: $gray-100;
   }
 }
 
 .entry-meta {
   font-size: small;
   margin-top: ($grid-gutter-width/2);
 }
 
 .single {
   .entry-content,
   .post-navigation,
   #comments-title {
     margin: $grid-gutter-width 0;
   }
 }
 
 #comments {
   margin-top: $grid-gutter-width;
 }
 
 .comment-meta {
   height: 40px;
 }
 
 .comment-reply-title {
   margin: $grid-gutter-width 0 ($grid-gutter-width/2)-gutter-width;
 }
 
 .commentlist {
   list-style: none;
   margin: 0 auto;
   width: 68.9%;
     
   > li.comment {
     margin: 0 0 1.625em;
     padding: 1.625em;
     position: relative;
   }
 
   .children {
     list-style: none;
     margin-top: 20px;
 
     > li.comment {
       border-top: 1px solid $gray-300;
       padding-top: 10px;
       position: relative;
     }
   }
 
   .avatar {
     width: 64px;
     height: 64px;
     border-radius: 50%;
     box-shadow: 0 1px 2px $gray-600;
     padding: 0;
     position: absolute;
     top: 0;
     left: -102px;
   }
   
 }
 
 
 /**
  * Responsive Design using "mixins/_breakpoints.scss"
  */
 
 @media (max-width: breakpoint-max(sm)) {
   
   #sidebar {
     margin-top: 60px;
   }
   
 }


/* normalize.css v7.0.0 | MIT License | http://necolas.github.io/normalize.css/ */
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/* ## Box Sizing
--------------------------------------------- */

html,
input[type='search'] {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* ## Float Clearing
--------------------------------------------- */

.clearfix,
#site-footer,
.site-inner,
.wrap,
.content-sidebar-wrap {
	@include clearfix;
}